.slide-container {
  position: relative;
  max-width: 600px;
  margin: 0 auto;
  padding: 75px 20px;
}

.slide-question {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.option-list {
  list-style-type: none;
  padding: 0;
}
.option-item {
  margin-bottom: 10px;
}

.option-input {
  margin-right: 10px;
}

.option-label {
  font-size: 18px;
  cursor: pointer;
}

.selected-option {
  font-style: italic;
}
