.node-box {
    position: relative;
    top: 200px;
    max-width: 600px;
    max-height: 600px;
    height: 400px;
    margin: 0 auto;
    padding: 20px 20px;
    background-color: aquamarine;
    justify-content: 'center';
    align-items: 'center';
}
.svg {
    width: 100%; /* Make the SVG element fill the container */
    height: 100%; /* Make the SVG element fill the container */
    overflow: hidden; /* Hide overflow content */
  }