.node-input-slide {
  margin: 40px;
  margin-right: 55px;
  margin-left: 55px;
  padding: 25px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  margin-top: 100px;
  
}

.input-header {
  margin-bottom: 10px;
  white-space: pre-wrap;
  margin-left: 10px;
  font-weight: 300;

}

form {
  display: flex;
  /* margin-bottom: 5px; */
  margin-left: 10px;

}

input[type="text"] {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px 0 0 5px;

}

button {
  padding: 8px 15px;
  border: none;
  background-color: #007bff;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.item-list {
  list-style-type: none;
  padding: 0;
}

.item-list li {
  margin-bottom: 5px;
  font-size: 20px;
  margin-left: 10px;
  font-weight: 400;

}

.max-nom {
  margin-top: 0;
  font-size: 15px;
  margin-left: 10px;

}
