/* Node.css */
.node {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .circle {
    width: 40px;
    height: 40px;
    background-color: #0ac6ff; /* White color */
    border: 2px solid #000; /* Black border */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    position: relative; /* Ensure the circle is positioned relative */
    z-index: 1; /* Set a lower z-index value for the circle */
  }
  
  .text {
    color: #000; /* Black color */
    position: relative; /* Ensure the text is positioned relative */
    z-index: 2; /* Set a higher z-index value for the text */
  }
  