/* Edge.css */

.edge {
  position: relative;
  width: 100%; /* Make the SVG cover the entire parent container */
  height: 100%;
  z-index: -1;
}

.line {
  stroke: #000; /* Color of the line */
  stroke-width: 2; /* Thickness of the line */
}
